.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
}

.messagesBlock {
  display: flex;
  flex-direction: column;
}

.messagesBox {
  width: 400px;
  min-height: 150px;
  max-height: 400px;
  overflow: scroll;
  margin: 10px 0;
  outline: 1px solid slategray;
  display: flex;
  flex-direction: column;
}
